* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(45deg, rgba(255, 105, 180, 0.8), rgba(147, 112, 219, 0.8));
  color: #fff;
}

/* Header and navigation */
header {
  background-color: #8e44ad; 
  color: #fff;
  padding: 1rem;
  position: static;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  font-size: 1.9rem;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin:20px;
  font-size: larger;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 1rem;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #ff69b4;
}

.download-cv {
  background-color: #ff69b4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-cv:hover {
  background-color: #ff14911d; 
}

.full-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Sections */
section {
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}

section h2 {
  color: #fff; 
  margin-right: 2rem;
  font-size: 3rem;
}

.about-content {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.about-text {
  font-size: 25px;
  max-width: 600px;
  margin-right: 2rem;
  color: #fff;
  text-align: justify;
}

.about-image img {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 20px 10px 10px rgba(165, 3, 194, 0.544);
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skill-card {
  background-color: #f3afd2; 
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height:500px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card i {
  color: #8e44ad;
  font-size: 6rem; 
  margin-top: 4rem;
}

.skill-level {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #f9f4f6; 
  margin-top: 3rem;
}

#skills p , h3{
  font-size: 30px;

}

#contact{
  padding-top: 20px;
}

form {
  max-width: 700px;
  margin-top: 4rem;
}

input,
textarea {
  display: block;
  width: 100%;
  height: 5rem;
  font-size: 30px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #7108cc;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 100%;
  height: 7rem;

}

button[type="submit"] {
  background-color: #ff69b4; 
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 30px;
  margin-left: 13rem;
  border: 2px solid #7108cc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #f3cbe0bd; 
}

footer{
  padding: 1rem;
  font-size: 23px;
  text-align: center;
  background-color: #4e032886;
  box-shadow: 0 -2px 5px rgba(234, 179, 229, 0.1);
  color: #f8f5f9;
}


/* Animations */
.scale-in {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.scale-in.show {
  opacity: 1;
  transform: scale(1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #8e44ad; 
    position: absolute;
    top: 100px;
    left: 0;
    padding: 1rem 0;
    z-index: 1;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    margin: 0.5rem 0;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  section{
    flex-direction: column;
    text-align: center;
    width:100%;
  }

  .skill-card {
    background-color: #f3afd2; 
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height:fit-content;
    transition: transform 0.3s ease;
  }

 .skill-card i {
    color: #8e44ad;
    font-size: 3rem; 
    margin-top: 1rem;/* Purple color */
  }

  .skill-level {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #f9f4f6; /* Pink color */
    margin-top: 1rem;
  }
  #skills p , h3{
    font-size: 25px;

  }

}


